/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import 'reset.css';

@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

/* @import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap'); */

/*
  ========================================
  Custom Styles
  ========================================
*/

body {
  font-family: 'Courgette', cursive;
  background: #f5f3f5;
}

/*
  ========================================
  Grid
  ========================================
*/
/* :root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
} */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/*
  ========================================
  nav
  ========================================
*/

.logo-container {
  padding: 0 20px 0 0;
  display: flex;
  justify-content: space-between;
  background: #f15025;
}

.logo-container img {
  width: 100px;
  height: 104px
}

.side-btn {
  align-self: center;
  border: 3px solid #272727;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  margin: 6px 5px;
  background: #272727;
  /* transition: transform 3s ease, opacity 3s ease; */
  transition: all 3s ease;
  cursor: pointer;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

.side-nav-links {
  background: #cec9ce;
}

.side-nav-links li:first-of-type {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
}

.side-nav-links a {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: #272727;
  transition: all 3s ease; 
}

.side-nav-links a:hover {
  background: rgba(0, 0, 0, 0.5);
  padding-left: 30px;
}

.side-nav-links span {
  font-size: 20px;
  margin-right: 10px;
  color: #f15025;
}

.side-nav-links {
  display: none;
}

/*
  ========================================
  nav top
  ========================================
*/

.nav-top {
  align-items: center;
  height: 107px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 5px solid #f15025;
}

.nav-btn {
  border: 3px solid #272727;
  cursor: pointer;
  display: none;
}

.chevron-icons a {
  font-size: 30px;
  margin: 10px;
}

.nav-img {
  display: flex;
}

.nav-top img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  align-self: center;
}

.nav-img h3 {
  align-self: center;
  color: #272727;
  font-size: 25px;
  text-transform: uppercase;
}

.nav-top a {
  color: #f15025;
}

.nav-top input {
  font-size: 16px;
  border: 2px solid #a1a2a1;
  padding: 5px;
}

.nav-top input::placeholder {
  color: #a1a2a1;
}

/* .sign-out {
  font-size: 25px;
} */

.sign-out {
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
}

/*
  ========================================
  responsive
  ========================================
*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* background: red; */
  flex: 1 0 auto;
}

@media screen and (min-width: 776px) {
  .side-nav-links {
    display: block!important;
  }
  .side-btn {
    display: none;
  }
  .nav-btn {
    display: block;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .side-nav {
    flex: 0 0 20%;
    min-height: 100vh;
    background: #cec9ce;
  }
  main {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    max-width: 80vw!important;
  }
  .logo-container {
    justify-content: center;
  }
  .margin {
    margin-left: -20%;
  }
}

.side-nav {
  transition: margin 2s ease;
}
.max-width {
  max-width: 100vw!important;
  padding: 0 20px;
}

/*
  ========================================
  song list
  ========================================
*/

.song-list {
  padding: 20px
}
.list-item {
  margin: 20px 0;
  display: flex;
}
.list-item img {
  width: 150px;
  margin-right: 20px;
  border-radius: 20px;
}

.list-item-icon span {
  color: #f3c05a;
}

.list-item-text h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}
.list-item-text h4 {
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .song-list-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/*
  ========================================
  top-songs
  ========================================
*/

.songs {
  padding: 40px 0;
}

/* .song-container img {
  width: 200px;
} */

.songs h1 {
  text-transform: uppercase;
  margin: 0 0 20px 20px;
}

.song {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.song h3 {
  text-transform: capitalize;
}

.song h4 {
  margin: 10px 0;
  text-transform: capitalize;
  color: #8e8e8e;
}

.song-container {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
}

.song img {
  display: block;
  width: 100%!important;
  transition: all 2s ease;
}

.song img:hover {
  opacity: 0.7;
  transform: scale(1.2)
}

.song-icon {
  font-size: 30px;
  padding: 10px;
  display: inline-block;
  color: #f15025;
  border: 2px solid #f15025;
  border-radius: 50%;
  cursor: pointer;
  transition: all  2s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.song-icon:hover {
  color: #fff;
  border-color: #f15025;
  background: #f15025;
}

.song-container:hover .song-icon {
  opacity: 1;
}

/* .max-width {
  max-width: 100vw!important;
  padding: 0 20px;
} */